[submodule "iot-tap-backend"]
	path = iot-tap-backend
	url = ../iot-tap-backend.git
[submodule "iot-autotap"]
	path = iot-autotap
	url = ../iot-autotap.git
[submodule "ifttt-frontend"]
	path = ifttt-frontend
	url = ../ifttt-frontend.git
[submodule "iot-core"]
	path = iot-core
	url = ../iot-core.git
