<div class="nav">
  <div class="back" (click)="goToDashboard()">←</div>
  <h1>New Device</h1>
</div>

<div class="container">
    <div class="row">
        <b>Device Information</b>
    </div>
    <br>
    <div class="row">
        <mat-form-field>
            <input matInput placeholder="Device Name">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field>
            <input matInput placeholder="Device ID">
        </mat-form-field>
    </div>
    <br>
    <div class="row">
        <button class="primary-btn">Submit</button>
    </div>
    
</div>
