# The file that contains all the secrets.

# Usage: Remove the '.template' part in the filename and 
#        fill the blanks bellow.

# Warning: the real 'secrets.py' should never be uploaded to
#          git!

db_user = "$dbusername"
db_password = "$dbpassword"