<!-- <mat-sidenav-container>
  
  <mat-sidenav #snav mode="push" [(opened)]="sideNavOpened" class="sidenav">
      <div class="container">
          <div class="row">
              <div class="col-sm-12">
                  <h1 id="snav-username">{{username}}</h1>
              </div>
          </div>
          <hr />
          <mat-list>
              <mat-list-item *ngFor="let loc of locations" class="location-list-item">
                  <button mat-button (click)="changeLoc(loc)" class="btn w-100 text-left">{{loc.name}}</button>
              </mat-list-item>
          </mat-list>
          <div class="row">
              <div class="col-sm-12">
                  <hr>
                  <button mat-button id="logout" (click)="logout()" class="btn">Logout</button>
              </div>
          </div>
      </div>
  </mat-sidenav>
  <mat-sidenav-content> -->
<div class="nav">
    <div class="back" (click)="goToDashboard()">←</div>
    <h1>Select An Action</h1>
</div>
<div class="container">
  <div class="row align-items-center justify-content-center h-100" *ngIf="showSpinner">
      <div class="col-3">
          <mat-spinner></mat-spinner>
      </div>
  </div>
  <div *ngIf="!showSpinner">
    <div *ngFor="let device of devices">
      <div *ngIf="device.commands.length > 0">
        <h2>{{device.label}}</h2>
        <div *ngFor="let capability_parameter of getDeviceCommandCapabilities(device)">
          <h4>{{getDefaultTextForCapability(capability_parameter[0], capability_parameter[1])}}</h4>
          <div class="row">
            <ng-container *ngFor="let command of getCommandFromCapability(device, capability_parameter[0])">
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6" *ngIf="command.count-command.covered>0 || command.reverted>0">
                <ng-container *ngIf="command.count-command.covered>=4 || command.reverted>=2">
                  <mat-card (click)="openDialog(device, command)">
                    <mat-card-title>
                      <ng-container *ngIf="command.parameter.type=='color'">
                        <div class="dot" [ngStyle]="{'background-color': command.value}"></div>
                      </ng-container>
                      {{command.value}}
                    </mat-card-title>
                    {{command.count-command.covered}} actions could be automated.
                    <br>
                    <ng-container *ngIf="command.reverted>0">
                      {{command.reverted}} automations reverted.
                    </ng-container>
                    
                  </mat-card>
                </ng-container>
                <ng-container *ngIf="!(command.count-command.covered>=4 || command.reverted>=2)">
                  <mat-card class="inactivecard">
                    <mat-card-title>
                      <ng-container *ngIf="command.parameter.type=='color'">
                        <div class="dot" [ngStyle]="{'background-color': command.value}"></div>
                      </ng-container>
                      {{command.value}}
                    </mat-card-title>
                    {{command.count-command.covered}} actions could be automated.
                    <br>
                    <ng-container *ngIf="command.reverted>0">
                      {{command.reverted}} automations reverted.
                    </ng-container>
                  </mat-card>
                </ng-container>
                
              </div>
            </ng-container>
            
          </div>
        </div>
        <br>
      </div>
    </div>
    <u class="editrule" (click)="gotoCreate()">Manually edit rules</u>
  </div>
</div>
  <!-- </mat-sidenav-content> -->
<!-- <mat-sidenav-container> -->
