* {
    font-family: Lato, sans-serif;
}

/* 
.content {
    flex-grow: 1;
    width: 100%;
}

.contentinner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
} */

.outer {
    height: 100%;
}

.column {
    float: left;
    padding: 10px;
}

.left {
    width: 75%;
    height: calc(100% - 100px);
    overflow: scroll;
    padding-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
}

.right {
    width: 25%;
    height: calc(100% - 100px);
    overflow: scroll;
    padding-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
}


.spincontainer {
    width: 100%;
    height: calc(100% - 100px);
}

mat-icon {
    font-family: 'Material Icons' !important;
}

mat-list {
    padding-top: 0 !important;
}

mat-list-item:nth-child(odd) {
    background-color: #ccebff;
}

mat-list-item {
    height: auto !important;
}

.nav mat-icon{
    font-size: 60px;
    height: 60px;
    width: 60px;
    line-height: 60px;
    float: left;
    margin: 21px 19px 0px 24px;
}

.nav {
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: rgb(0, 153, 255);
    font-family: Lato, sans-serif;
    text-align: center;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.nav button.mat-raised-button {
    line-height: 25px;
    background-color: white;
    color: rgb(0, 153, 255) !important;
    font-size: 25px;
    font-weight: bold;
    float: right;
    /* margin-left: auto; */
    margin-right: 45px;
}

.apply {
    background-color: white !important;
    color: rgb(0, 153, 255) !important;
    font-family: Lato, sans-serif;
    text-align: center;
    font-weight: bold;
    float: right;
    margin-left: auto;
    margin-right: 45px !important;
    /* margin-right: 45px; */
}

.ruleoption {
    margin:10px auto; 
    text-align: center;
    padding-top: 40px;
    padding-bottom:15px;
}

.ruleoption span {
    font-size: 35px;
    margin-left: 10px;
    margin-right: 10px;
}

.nav h1 {
    margin: 19px 5px;
}

h1 {
    margin-left: 5px;
    font-size: 48px;
    color: #fff;
}

button.mat-raised-button {
    /* display: block; */
    margin: auto 0;
    text-align: center;
    background-color: rgb(0, 153, 255);
    color: #ffffff;
    padding: 8px 28px 8px 28px;
    font-size: 20px;
    border-radius: 5px;
}

button.mat-raised-button:hover{
    background-color: #008ae6;
}

button.currentrule {
    line-height: 25px;
    text-align: center;
    float: right;
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
    margin-left: auto;
    padding: 8px 28px 8px 28px;
    text-decoration: underline;
}


.back {
    float: left;
    margin-left: 30px;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

button.addnew {
    margin: 16px 0 16px 30px;
}

.addnew mat-icon {
    top: -5px;
    left: 1px;
    position: relative;
    font-size: 30px;
}

.container, div.newrule, div.newrule button {
    z-index: 999 !important;
}

.stat {
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

span.stattimes {
    color: rgb(19, 167, 0);
    font-weight: bold;
}

span.statevent {
    color: rgb(0, 153, 255);
    font-weight: bold;
}

div.title {
    float: left;
}

div.newrule {
    width: 10%;
    float: right;
}

.rule-display {
    padding: 10px 0 10px 10px;
    display: inline-block;
}

.rule-blocks {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

div.rule-block {
    padding: 5px;
}

div.rule-word, div.rule-icon {
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 24px;
}

.rule-icon {
    margin-left: 10px;
    padding: 0 2px 4px 2px;
}

.rule-icon mat-icon {
    position: relative;
    top: 4px;
    color: #000000;
}

div.underneath {
    display: inline-block;
    font-size: 22px;
    text-align: center;
    color: #000000;
}

.rule-manage {
    margin: 0 20px 0 auto;
    display: flex;
}

.rule-manage mat-icon {
    cursor: pointer;
    font-size: 35px;
    position: relative;
    top: -4px;
    padding: 0 25px;
    color:  #000000;
}

.rule-manage button.mat-raised-button {
    line-height: 15px;
}

.showhide {
    cursor: pointer;
    color: brown;
    text-decoration: underline;
}

.helptext {
    font-size: 24px;
    text-align: center;
}

.helptext-spinner {
    margin: 20px auto;
}

.rule-table {
    border: none;
    text-align: left;
    margin-left: 10px;
}

.rule-content {
    font-size: 20px;
    height: 1em;
}

.rule-word {
    width: 100px;
    font-size: 24px;
    color: rgb(0, 153, 255);
    font-weight: bold;
    height: 1.5em;
}

div.vis {
    padding-top: 28px;
}